.ui-page-theme-a .title {
    background-color:  #ff5666;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0 1px 0 #666
}

.ui-page-theme-a .title i {
    color: #fff;
}

.card-img h2 {
    font-size: 1.2em;
}

.card-img img {
    width: 100%;
    border-radius: 5px;
}