.ui-overlay-a {
    background: #edeeed;
}

.searchbox {
    padding: 0 1em 0 1em;
}

.ui-page-theme-a .title {
    background-color:  #ff5666;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0 1px 0 #666
}

.ui-page-theme-a .title i {
    color: #fff;
}

.card-img h2 {
    padding: 10px 0 0 0;
    font-size: 14px;
    font-weight: normal;
}

.card-img img {
    width: 90%;
}

.card {
    border-radius: 2px;
    text-align: center;
    box-shadow: 1px 1px 5px 0 #aaa;
}