.ui-page-theme-a .title {
    background-color:  #ff5666;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0 1px 0 #666
}

.ui-page-theme-a .title i {
    color: #fff;
}

.card-img h2 {
    padding: 10px 0 0 0;
}

.card-img img {
    width: 90%;
    border-radius: 5px;

}

.card {
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px 0 #aaa;
}